# Base URL for DICOMWeb request. 
# If no variable found, DICOMWeb panel in data tab is hidden unless set in settings.
VITE_DICOM_WEB_URL=http://localhost:5173/dicom-web

# Display name of DICOMWeb host.
VITE_DICOM_WEB_NAME=ACME Hospital

# Error reporting URL for sentry.io.
VITE_SENTRY_DSN=

# If this env var exists and is true and there is a `save` URL parameter,
# clicking the save button POSTS the session.volview.zip file to the specifed URL. 
VITE_ENABLE_REMOTE_SAVE=true

# VolView server remote URL
VITE_REMOTE_SERVER_URL=http://localhost:4014

# Controls the initial visibility of the Sample Data section.
VITE_SHOW_SAMPLE_DATA=true
