# Base URL for DICOMWeb requests.  
# If no variable found, DICOMWeb panel in data tab is hidden unless set in settings.
VITE_DICOM_WEB_URL=http://localhost:5173/dicom-web
# Display name of DICOMWeb host
VITE_DICOM_WEB_NAME=ACME Hospital