html, body {
    width: 100%;
    height: 100%;
    overflow: hidden !important;
}

.no-select {
    user-select: none;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}