html {
    overflow: hidden !important;
}

body {
    position: fixed;
    width: 100%;
    height: 100%;
}

.no-select {
    user-select: none;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}