html {
    overflow: hidden !important;
}

body {
    position: fixed;
    width: 100%;
    height: 100%;
    user-select: none;
}

.no-select {
    user-select: none;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.v-card--variant-outlined {
  border: thin solid rgb(var(--v-theme-on-surface-variant)) !important;
}
