html {
  overflow: hidden !important;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  user-select: none;
}

.no-select {
  user-select: none;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.v-card--variant-outlined {
  border: thin solid rgb(var(--v-theme-on-surface-variant)) !important;
}

.v-tooltip .v-overlay__content {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

ul:not([class]),
ol:not([class]) {
  padding-left: 20px;
  margin-bottom: 16px;
}
