html {
  overflow: hidden !important;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  user-select: none;
}

.no-select {
  user-select: none;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.v-tooltip.v-theme--kw-light > .v-overlay__content {
  outline: 1px solid rgb(var(--v-theme-on-surface-variant));
}

ul:not([class]),
ol:not([class]) {
  padding-left: 20px;
  margin-bottom: 16px;
}
