layout: index
description: Open-source and freely available radiological viewer that runs in your web browser and provide photo-realistic, interactive, 3D visualizations.
subtitle: Cinematic Volume Rendering of DICOM Data in Your Web Browser
comments: false
---

div#intro-get-started-wrap
  a(href="https://volview.kitware.app", id="intro-get-started-link") Try VolView

ul#intro-feature-list(style="position:relative;top:-50px;")
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-heart
      h3.intro-feature-title
        a(href="https://github.com/kitware/VolView").link Open Source
      p.intro-feature-desc
        | VolView is open source and freely available. It is a standalone
        | Web application that operates as a radiological viewer.  
        | Drag-and-drop your DICOM data into VolView to generate
        | interactive cinematic renderings and gain new insights
        | into your research. <br>
        | <br>
        | As open source, VolView can be expanded to integrate with other
        | in-browser or centralized services. We have supported related
        | work involving AR/VR rendering, server-side real-time AI
        | inference, workflow and data management, user-level access control
        | and monitoring, and much more.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
          i.fa.fa-life-ring
      h3.intro-feature-title
        a(href="http://www.vtk.org/services/").link Support and Services
      p.intro-feature-desc
        | Kitware offers scientific software research and development services.
        | We can help you customize VolView to create task-specific or
        | branded applications that compliment your innovative ideas. 
        | Kitware can also work with you to apply for regulatory approvals
        | for your custom solutions.

p.intro-feature-desc DISCLAIMER: The open-source version of VolView is not FDA approved and should not be used for patient care. <br><br>
