layout: index
description: Open-source and freely available radiological viewer that runs in your web browser and provide photo-realistic, interactive, 3D visualizations.
subtitle: Cinematic Rendering of DICOM Data in Your Web Browser
comments: false
---

div#intro-get-started-wrap
  a(href="/VolView/app", id="intro-get-started-link") Try out VolView

ul#intro-feature-list(style="position:relative;top:-50px;")
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-download
      h3.intro-feature-title
        a(href="https://github.com/kitware/VolView").link Releases
      p.intro-feature-desc
        | VolView is an open-source, freely available, standalone Web
        | application that operates as a radiological workstation for
        | reviewing, annotating, and
        | generating interactive cinematic renderings of DICOM data.
        | It can be easily customized to create task-specific or branded 
        | solutions that can involve remote rendering, AI, and other
        | compute services.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
          i.fa.fa-life-ring
      h3.intro-feature-title
        a(href="http://www.vtk.org/services/").link Support and Services
      p.intro-feature-desc Kitware offers advanced software R&D solutions and services. Find out how we can help with your next project.
